/************************* Fonts *************************/

@font-face {
  font-family: 'Raleway Light';
  src: url('fonts/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url('fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
}

/*************************** * ***************************/

#page-block {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

* {
  font-family: 'Raleway Light', Arial, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.9rem;
}

/************************* Header *************************/

header {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto 38px;
}

/* Logo Reservia */
.logo-reservia {
  display: flex;
  margin-top: 40px;
}

/* Navigation */
.menu {
  display: flex;
  position: absolute;
  right: -12px;
}

.menu-nav ul {
  width: 100%;
  display: flex;
  margin-right: 20px;
}

.menu-item {
  margin: 40px 0 0 30px;
}

.menu-item a {
  padding: 0 30px;
  border-top: 2px solid transparent;
}

.menu-item a:hover {
  color: #0065fc;
  transition: 0.3s;
  padding-top: 53px;
  border-top: 2px solid #0065fc;
}

/* Sign in */
.signin {
  margin: 39px 0 0 28px;
}

.signin-button {
  font-weight: bold;
  color: #0065fc;
  padding: 10px 15px;
  border-radius: 5px;
}

.signin-button:hover {
  color: white;
  transition: 0.3s;
  background-color: #0065fc;
}

/************************* Search *************************/

.search-container {
  max-width: 1280px;
  margin: 0 auto;
}

.search-container p {
  margin-top: 10px;
  margin-bottom: 24px;
  align-items: center;
  align-content: center;
}

.search-form {
  width: 100%;
  margin-top: 24px;
  display: flex;
  max-width: 400px;
}

.search-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  min-width: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-input {
  height: 50px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-right: none;
  outline: none;
  font-size: 1em;
  padding-left: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.search-button-title {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Raleway Light', Arial, sans-serif;
}

.search-button-image {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065fc;
  border: none;
  cursor: pointer;
  justify-content: center;
  padding: 0 18px;
  height: 50px;
}

.search-button-image > i {
  color: white;
  display: none;
}

::placeholder {
  color: black;
  font-weight: bold;
  font-family: 'Raleway Light', Arial, sans-serif;
}

/************************* Filters *************************/

.filters {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  max-width: 1280px;
  margin: 30px auto;
}

.filters h3 {
  margin-right: 30px;
  font-size: 1.1em;
}

.filters-container {
  display: flex;
  flex-flow: row wrap;
}

.filters-button {
  margin-right: 24px;
  position: relative;
  border-radius: 30px;
}

.filters-button i {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 16px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  bottom: 1px;
  left: -1px;
}

.filters-button p {
  border: 2px solid rgb(217, 217, 217);
  border-left: none;
  border-radius: 30px;
  padding: 14px 20px 12px 58px;
  font-size: 1em;
  align-items: center;
}

.filters-button:hover {
  transition: 0.3s;
  transform: scale(1.07);
  background-color: #deebff;
}

/************************** Info **************************/

.info {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto 30px;
}

.info i {
  width: 13px;
  height: 12px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid rgb(217, 217, 217);
  margin-right: 10px;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************* Rating *************************/

.rating {
  padding: 4px 0 0 10px;
}

.rating i {
  color: #0065fc;
}

.rating span i {
  color: rgb(217, 217, 217);
}

/************************* Lodging *************************/

section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
}

.lodging-container {
  width: 100%;
  max-width: 800px;
  max-height: 570px;
  padding: 40px 40px 0 40px;
  border-radius: 25px;
  background-color: #f2f2f2;
  flex: 3;
  margin: 0 auto;
}

.lodging-container h2 {
  margin-bottom: 28px;
  font-size: 1.2em;
}

.lodging-container-button {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 28px;
}

.lodging-container-button :hover {
  color: #0065fc;
  transition: 0.3s;
}

.lodging-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1.5em;
  column-gap: 1.5em;
}

.lodging-card {
  width: 100%;
  min-width: 160px;
  max-height: 194px;
  background-color: white;
  border-radius: 25px;
  padding: 4px;
  box-shadow: 10px 10px 10px -10px rgb(10, 10, 10, 0.1), -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
  box-sizing: border-box;
}

.lodging-card:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.07);
}

.lodging-image {
  width: 100%;
  height: 58%;
  min-height: 100px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.lodging-card h4 {
  margin: 4px 10px;
}

.lodging-card p {
  font-size: 0.8em;
  margin: 0 10px;
}

/************************ Trending ************************/

.trend-container {
  width: 100%;
  max-width: 300px;
  flex: 1.3;
  padding: 40px;
  border-radius: 25px;
  background-color: #f2f2f2;
  margin-left: 38px;
}

.trend-container h2 {
  font-size: 1.2em;
}

.trend-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 28px;
}

.trend-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1.5em;
  box-sizing: content-box;
}

.trend-card {
  width: 100%;
  max-height: 130px;
  min-width: 240px;
  display: flex;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 10px -10px rgb(10, 10, 10, 0.1), -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
  box-sizing: content-box;
  object-fit: cover;
}

.trend-card:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.07);
}

.trend-image {
  width: 100%;
  max-width: 44%;
  min-height: 124px;
  max-height: 125px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.trend-description {
  padding: 10px;
  position: relative;
  max-width: 150px;
}

.trend-description h4 {
  margin-bottom: 4px;
}

.trend-description p {
  font-size: 0.8rem;
}

.trend-rating {
  position: absolute;
  color: #0065fc;
  bottom: 8px;
  padding: 0;
}

/*********************** Activities ***********************/

.activities-container {
  padding-top: 40px;
}

.activities-container h2 {
  padding-bottom: 28px;
  font-size: 1.2em;
}

.activities-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2em;
}

.activities-cards-small {
  display: grid;
  row-gap: 2em;
}

.activity-card {
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -10px rgb(10, 10, 10, 0.1), -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
}

.activity-card-image {
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -10px rgb(10, 10, 10, 0.1), -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
}

.activity-big-card {
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
}

.activity-small-card-top-left {
  width: 100%;
  height: 100%;
  min-height: 220px;
  max-height: 220px;
}

.activity-small-card-bottom-left {
  width: 100%;
  height: 100%;
  min-height: 150px;
  max-height: 150px;
}

.activity-small-card-top-right {
  width: 100%;
  height: 100%;
  min-height: 180px;
  max-height: 180px;
}

.activity-small-card-bottom-right {
  width: 100%;
  height: 100%;
  min-height: 190px;
  max-height: 190px;
}

.activity-card-title {
  width: 100%;
  bottom: -1px;
  position: absolute;
  overflow: hidden;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 10px 10px 10px -10px rgb(10, 10, 10, 0.1), -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
}

.activity-card:hover {
  transition: 0.3s;
  transform: scale(1.07);
}

.activity-card-title p {
  padding: 14px;
  font-size: 0.9em;
  font-weight: bold;
}

/************************* Footer *************************/

footer {
  width: 100%;
  background-color: #f2f2f2;
  margin: 58px auto 0;
  padding-top: 48px;
  padding-bottom: 50px;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1250px;
}

.footer-list-item {
  padding-bottom: 10px;
}

.footer-list-item a:hover {
  border-bottom: 1px solid black;
}

.about,
.lodging,
.assistance {
  width: 35%;
  min-width: 290px;
}

.about h3,
.lodging h3,
.assistance h3 {
  padding-bottom: 20px;
  font-size: 1.1em;
}

/******************** Tablet Responsive ********************/
@media screen and (max-width: 1210px) {
  .filters {
    flex-direction: column;
    align-items: unset;
  }

  .filters-container {
    margin-top: 5px;
  }

  .filters-button {
    margin-top: 10px;
  }

  section {
    flex-direction: column-reverse;
  }

  .trend-container {
    width: 92%;
    max-width: none;
    min-height: 0;
    margin: 0 auto 28px;
    padding: 40px;
  }

  .trend-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.7em;
  }

  .trend-card {
    width: 100%;
    max-width: none;
    max-height: 174px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .trend-image {
    width: 100%;
    max-width: 44%;
    min-height: 124px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }

  .trend-description {
    width: 100%;
    max-width: 190px;
    font-size: 0.9em;
  }

  .trend-description h4 {
    font-size: 1em;
    max-width: 110px;
  }

  .trend-description p {
    font-size: 0.9em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .lodging-container {
    width: 92%;
    max-width: none;
    max-height: none;
    padding: 40px;
    border-radius: 25px;
    background-color: #f2f2f2;
    margin-right: 0;
  }

  .lodging-container h2 {
    margin-bottom: 28px;
  }

  .lodging-container-button {
    margin-top: 34px;
  }

  .lodging-container-button :hover {
    color: #0065fc;
  }

  .lodging-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    column-gap: 2em;
  }

  .lodging-card {
    width: 100%;
    min-width: 160px;
    max-height: 194px;
    background-color: white;
    border-radius: 25px;
    padding: 4px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    box-sizing: content-box;
  }

  .lodging-image {
    width: 100%;
    height: 58%;
    min-height: 100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }

  .lodging-card h4 {
    margin: 4px 10px;
  }

  .lodging-card p {
    font-size: 0.8em;
    margin: 0 10px;
  }
}

/******************** Before Mobile Responsive ********************/
@media screen and (max-width: 950px) {
  /* Filters */
  .filters {
    max-width: 810px;
    margin-left: 0;
  }

  .filters h3 {
    margin-top: 0;
  }

  .info {
    max-width: 500px;
    margin-left: 0;
  }

  section {
    display: flex;
    flex-direction: column-reverse;
  }

  .lodging-container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 28px 0 0;
    border-radius: 25px;
    background-color: #f2f2f2;
    padding-bottom: 8px;
  }

  .lodging-container h2 {
    margin: 40px 0 28px 40px;
  }

  .lodging-container-button {
    margin: 30px 0 30px 40px;
  }

  .lodging-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2em;
    margin: 0 auto;
    padding: 0 40px;
  }

  .lodging-card {
    max-height: 234px;
    box-sizing: content-box;
    width: 100%;
    min-width: 160px;
    background-color: white;
    border-radius: 25px;
    padding: 4px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
  }

  .lodging-image {
    height: 64%;
    max-height: 300px;
    min-height: 150px;
    width: 100%;
  }

  .trend-container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    background-color: #f2f2f2;
    padding-bottom: 8px;
  }

  .trend-header {
    display: flex;
    margin: 30px auto 0;
    justify-content: space-between;
    width: 88%;
  }

  .trend-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1.5em;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .trend-card {
    width: 88%;
    max-width: none;
    max-height: 164px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  .trend-image {
    width: 100%;
    max-width: 44%;
    min-height: 164px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }

  .trend-description {
    padding: 10px;
    position: relative;
  }

  .trend-description h4 {
    margin-bottom: 4px;
    font-size: 1.1em;
    max-width: none;
  }

  .trend-description p {
    font-size: 1em;
  }

  .activities-container {
    padding-top: 40px;
    width: 88%;
    margin: 0 auto;
  }

  .activities-cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1.5em;
  }

  .activities-cards-small {
    display: grid;
    row-gap: 1.5em;
    column-gap: 0;
  }

  .activity-card {
    position: relative;
    border-radius: 20px;
    box-shadow:
      10px 10px 10px -10px rgb(10, 10, 10, 0.1),
      -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
  }

  .activity-card-image {
    object-fit: cover;
    border-radius: 20px;
    box-shadow:
      10px 10px 10px -10px rgb(10, 10, 10, 0.1),
      -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
  }

  .activity-big-card {
    width: 100%;
    height: 100%;
    min-height: 224px;
    max-height: 224px;
  }

  .activity-small-card-top-left {
    width: 100%;
    height: 100%;
    min-height: 224px;
    max-height: 224px;
  }

  .activity-small-card-bottom-left {
    width: 100%;
    height: 100%;
    min-height: 224px;
    max-height: 224px;
  }

  .activity-small-card-top-right {
    width: 100%;
    height: 100%;
    min-height: 224px;
    max-height: 224px;
  }

  .activity-small-card-bottom-right {
    width: 100%;
    height: 100%;
    min-height: 224px;
    max-height: 224px;
  }

  .activity-card-title {
    position: absolute;
    bottom: -1px;
    background-color: white;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow:
      10px 10px 10px -10px rgb(10, 10, 10, 0.1),
      -10px 10px 10px -10px rgb(10, 10, 10, 0.1);
  }

  .activity-card-title p {
    font-size: 0.9em;
  }

  footer {
    padding-bottom: 10px;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
  }

  .about,
  .lodging,
  .assistance {
    min-width: 300px;
    padding-bottom: 10px;
  }

  .footer-list ul {
    padding-bottom: 30px;
  }

  .footer-list-item {
    padding: 5px 0;
  }
}

/******************** Mobile Responsive ********************/
@media screen and (max-width: 640px) {
  #page-block {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    margin-top: 20px;
  }

  /* Header */
  header {
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  /* Logo Reservia */
  .logo-reservia {
    width: 100%;
    margin: 20px 0 28px 30px;
  }

  /* Navigation */
  .menu {
    position: unset;
    display: block;
    width: 100%;
  }

  .menu-nav ul {
    text-align: center;
  }

  .menu-item {
    width: 50%;
    margin: 0;
    padding: 0 0 14px 10px;
    border-bottom: 3px solid rgb(217, 217, 217);
  }

  .menu-item:hover {
    transition: 0.2s;
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }

  .menu-item a:hover {
    border-top: none;
  }

  /* Sign in */
  .signin {
    margin: 0;
    position: absolute;
    top: 34px;
    right: 21px;
  }

  /* Search */
  .search-container {
    margin: 0 30px;
  }

  .search-form {
    width: 100%;
    max-width: none;
    margin-top: 30px;
  }

  .search-input {
    position: relative;
    width: 84%;
  }

  .search-button-title {
    display: none;
  }

  .search-button-image {
    position: absolute;
    padding: 18px 18px;
    border-radius: 15px;
    right: 34px;
  }

  .search-button-image i {
    color: white;
    display: block;
  }

  /* Filters */
  .filters {
    max-width: 500px;
  }

  .filters h3 {
    margin-top: 0;
  }

  .filters,
  .info {
    width: 88%;
    margin: 30px 30px auto;
  }

  .info {
    max-width: 350px;
    margin-bottom: 30px;
  }

  section {
    display: flex;
    flex-direction: column-reverse;
  }

  .lodging-container {
    border-radius: 0;
    background-color: white;
    width: 88%;
    padding: 0;
    margin: 0 auto;
  }

  .lodging-container h2 {
    width: 88%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;
  }

  .lodging-container-button {
    margin-left: 0;
  }

  .lodging-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .lodging-card {
    max-height: 224px;
  }

  .lodging-image {
    height: 64%;
    max-height: 300px;
    min-height: 150px;
  }

  .trend-container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: #f2f2f2;
    padding-bottom: 8px;
  }

  .trend-container h2 {
    width: 88%;
    margin: 0;
  }

  .trend-header {
    display: flex;
    margin: 30px auto 0;
    justify-content: space-between;
    width: 88%;
  }

  .trend-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1.5em;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .trend-card {
    width: 88%;
    max-width: none;
    max-height: 164px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  .trend-image {
    width: 100%;
    max-width: 44%;
    min-height: 164px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }

  .trend-description {
    padding: 18px;
    position: relative;
  }

  .trend-description h4 {
    font-size: 1.1em;
    margin-bottom: 8px;
  }

  .trend-description p {
    font-size: 1em;
  }

  .activities-container {
    padding-top: 28px;
    width: 88%;
    margin: 0 auto;
  }
}

/* 830px */

@media screen and (max-width: 830px) {
  footer {
    padding-bottom: 10px;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
  }

  .about,
  .lodging,
  .assistance {
    min-width: 300px;
    padding-bottom: 10px;
  }

  .footer-list ul {
    padding-bottom: 30px;
  }

  .footer-list-item {
    padding: 5px 0;
  }
}

/* 1440px */

@media screen and (max-width: 1440px) {
  .footer-container {
    width: 90%;
  }
}
